
// .card{
//   padding: 1.5rem;
// }

// .inputbox{
//   padding-top: 5px;
// }

// .subhead2{

//   color: #98acf8;
// }

// // .row{
// //   text-align: right;
// // }

// .text-align{
//   text-align: right;
// }


// @media only screen and (max-width: 600px) {
//   .text-align{
//     text-align: left;
//   }
// }



// body {
//   font-family: "Open Sans", sans-serif;
//   line-height: 1.25;
// }



@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
   // border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;

  }


    table td:nth-child(odd){
      background-color: oldlace;
    }


  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  // .column-m {
  //   width: 77%;
  // }
}

.pop-l-r{
  text-align: right;
}




  .select,
  #locale {
    width: 100%;
  }
  .like {
    margin-right: 10px;
  }

  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.bordercol{
  border-style:outset ;
  border-radius: 1em;
  width: 50%;


}
.bordercol:hover{
 // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,197,169,1) 52%);
 background:  linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,197,169,1) 52%);


 opacity: 1;
  border-radius: 1.5em;
  box-shadow: 0 0 2.5em -0.5em black;
  transform: scale(1.01);
  box-shadow: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,243,244,1) 0%, rgba(244,194,194,1) 87%);
}

.hi{
  border: none;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}



.pad{
  padding: 0.5em;
}




.modal.show{
  display: block;
}




.button.two {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;
}

.button.two:hover {
  background-position: 0 0, 0 0;

  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

// .select-max-height{
//   height: 20px;
// }

////////////////////////////////////////////////////////////////////////////////

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
// .form-container {
//   max-width: 500px;
//   padding: 10px;
//   background-color: white;
// }





