.title{
    color: cornflowerblue;
    text-align: center;
  }

  :host ::ng-deep .ng2-smart-actions {
    width: 5%;
  }


  :host ::ng-deep input[type=checkbox]{
    height: 20px;
    width: 20px;
  }

  :host ::ng-deep .ng2-smart-th {
    text-align: center;
  }


.scroll{
  overflow: scroll;
}


