<!-- <br> -->
<!-- <h3 class="title">Case List</h3> -->
<!-- <br> -->

<!-- <div class="card">
  <div class="row">
    <div class="form-group" class="col-md-6" style="margin-left: 20px;">
      <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> Name</label>
      <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Full Name">
    </div>
    <div class="col-md-4" style="margin-left: 20px;">
      <label for="validationCustom01"><span>*</span> Case ID</label>
      <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Case ID"
        style="width:100px;">
    </div>
</div>
<br>
</div> -->

<!-- <div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr class="table-info">
      <th scope="col" style="width: 30px">Case ID</th>
      <th scope="col" style="width: 40px">Name</th>
      <th scope="col" style="width: 20px">Description</th>
      <th scope="col" style="width: 30px">Insurer V.Notes</th>
      <th scope="col" style="width: 25px">Thirdparty V.Notes</th>
      <th scope="col" style="width: 35px">Created By</th>
      <th scope="col" style="width: 35px">Created Date</th>
      <th scope="col" style="width: 35px">Last Modified By</th>
      <th scope="col" style="width: 10px">Last Modified Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of data">
      <td>{{item.CaseID}}</td>
      <td>{{item.Name}}</td>
      <td>{{item.Description}}</td>
      <td>{{item.InsurerVerificationNotes}}</td>
      <td>{{item.ThirdpartyVerificationNotes}}</td>
      <td>{{item.CreatedBy}}</td>
      <td>{{item.CreatedDate}}</td>
      <td>{{item.LastModifiedBy}}</td>
      <td>{{item.LastModifiedDate}}</td>
    </tr>
  </tbody>
</table>
<hr>
</div>
<br><br><br> -->

<!-- <div>
<table class="table" st-pipe="mc.callServer" st-table="mc.displayed">
	<thead>
    <tr>
      <th><input st-search="CaseID"/>Enter Case ID to search..</th>
      <th><input st-search="Name"/>Enter Name to search..</th>
    </tr>
	<tr>
		<th st-sort="CaseID">CaseID</th>
		<th st-sort="Name">Name</th>
		<th st-sort="Description">Description</th>
    <th st-sort="InsurerVerificationNotes">InsurerVerificationNotes</th>
    <th st-sort="ThirdpartyVerificationNotes">ThirdpartyVerificationNotes</th>
    <th st-sort="CreatedBy">CreatedBy</th>
    <th st-sort="CreatedDate">CreatedDate</th>
    <th st-sort="LastModifiedBy">LastModifiedBy</th>
    <th st-sort="LastModifiedDate">LastModifiedDate</th>
	</tr>

	</thead>
	<tbody ng-show="!mc.isLoading">
	<tr *ngFor = "let item of data">
		<td>{{item.CaseID}}</td>
		<td>{{item.Name}}</td>
		<td>{{item.Description}}</td>
    <td>{{item.InsurerVerificationNotes}}</td>
    <td>{{item.ThirdpartyVerificationNotes}}</td>
    <td>{{item.CreatedBy}}</td>
    <td>{{item.CreatedDate}}</td>
    <td>{{item.LastModifiedBy}}</td>
    <td>{{item.LastModifiedDate}}</td>
	</tr>
	</tbody>

</table>
</div> -->

<!-- <div class="row">
  <div class="col-xs-9 col-md-7" style="background-color:red;">.col-xs-9 .col-md-7</div>
  <div class="col-xs-3 col-md-5" style="background-color:lavender;">.col-xs-3 .col-md-5</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-10" style="background-color:lavenderblush;">.col-xs-6 .col-md-10</div>
  <div class="col-xs-6 col-md-2" style="background-color:lightgrey;">.col-xs-6 .col-md-2</div>
</div>
<div class="row" style="background-color:lightcyan;">
  <div class="col-xs-6">.col-xs-6</div>
  <div class="col-xs-6">.col-xs-6</div>
</div> -->

<!-- <div class="row">
  <div class="col-4 col-md-4">
    <label for="">Assign to:</label>
  </div>
  <div class="col-4 col-md-4">
    <select name="" id="" class="form-group col-xs-4  form-control">
      <option value="">Siva</option>
      <option value="">Siva1</option>
      <option value="">Siva2</option>
    </select>
  </div>
  <div class="col-4 col-md-4">
    <button type="button" class="btn btn-sm btn-primary">Submit</button>
  </div>
</div> -->



<br>
<form  #userassign="ngForm"(ngSubmit)="submit(userassign.value)">


<div class="row ml-1 mb-2">
  <div class="col-3 col-md-1 pr-0">
    <label class="col-form-label" for="cars">Assign to:</label>
  </div>


    <div class="col-3 col-md-3">
      <select id="cars" class="form-control scroll" [(ngModel)]="mySelect" (change)="selectChange($event,name)" name="AppUserID" >
        <option *ngFor="let item of Agentname" value="{{item.id}}">{{item.name}}</option>
      </select>
    </div>
    <div class="col-1 col-md-1 pl-0 pr-0">
      <button class="btn btn-outline-primary btn-md"  type="submit" style="height: 37px;">
        <i class="fas fa-plus"></i>
      </button>
    </div>

    <div class="col-1 col-md-1 pl-0">
      <button class="btn btn-outline-primary btn-md"  type="button" style="height: 37px;" (click)="reloadComponent()">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>



  <!-- <div>
    Selected: {{selectedValue}}
  </div> -->

<div class="container-fluid">

  <div class="card">
    <!-- <div class="card-header">
          <h5>Case Details List</h5>
          <i class="fas fa-user-edit"></i>
      </div> -->
    <div class="card-body vendor-table">
      <div id="batchDelete" class="custom-datatable vendor-list">
        <div class="table-responsive ">

          <ng2-smart-table [settings]="caselistSettings" [source]="pagesize" (custom)="onCustomAction($event)"
            (userRowSelect)="onUserRowSelect($event)" ></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>


  <!-- <div *ngFor='let userName of userName '>
    <p>{{userName.name}}</p>
  </div> -->
</div>
</form>
