.card{
  padding: 1.5rem;
}

.inputbox{
  padding-top: 5px;
}

.subhead2{

  color: #98acf8;
}


.text-align{
  text-align: right;
}

.padAndMargin{
  padding: 0rem;
  margin: 0rem;
  border-radius: 20px;
}

// card heading underline removal and font size
.cardsizeAdjust{
  text-decoration: none;
  font-size: 20px;
}

// small card width and height in hidden view
.padsize{
  padding: 0.5rem;
}

.padsizebody{
  padding: 0.2rem;
}


////////////////////////////////////

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
////////////////////////////////////


// for mobile screen------------------------------------------------------------------------

@media only screen and (max-width: 600px) {
  .text-align{
    text-align: left;
  }

  .p-adjust-mob{
    padding-right: 0 !important;
  }

  .case-textarea{
    margin-left: 1.9rem !important;
    margin-right: 3.6rem !important;
  }

  .btn-mob-adjust{
    margin-right: 3rem;
  }

  .tarea-label{
    margin-left: 1rem;
  }
}


// input boxes no border
.inputborder{
  border: none;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

.inputborder:focus{
  border: none;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}


