<!-- <div class="card text-center m-3">
  <h3 class="card-header">Case List</h3> -->

  <form [formGroup]="EditForm">

    <!-- accordion 1 start --------------------------------------------------->
  <div class="accordion" id="accordionExample">
    <div class="card padAndMargin">
      <div class="card-header padsize hvr-grow-shadow" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center cardsizeAdjust" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Case Details
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body padsizebody">




          <div class="col-md-12 row">

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-3 text-align">Case ID:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text"  class="form-control inputborder" formControlName="CaseID" required="" readonly>
              </div>
            </div>

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Ref Number:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text"  class="form-control inputborder" formControlName="ReferenceNumber" id="name" name="ReferenceNumber" readonly required="">
              </div>
            </div>
          </div>


          <div class="col-md-12 row">

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Due date:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text" class="form-control inputborder" formControlName="DueDate" name="DueDate" id="name" required="" readonly>
              </div>
            </div>

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Agent Name:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text"  class="form-control inputborder" formControlName="Name" name="Name" id="name"  required="" readonly>
              </div>
            </div>
          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9 tarea-label ml-3" style="text-align: left;">Notes:</label>
          </div>

          <div class=" row" >
            <div class="col-sm-1 ml-4"></div>
            <div class="col-sm-1 ml-3"></div>
            <textarea  class="form-control col-sm-8 ml-2 case-textarea inputborder" formControlName="Description" name="Description" rows="3"  readonly></textarea>
            <div class="col-sm-2"></div>
          </div>




        </div>
      </div>
    </div>
  </div>




  <!-- accordion 2 -->
  <div class="accordion" id="accordionExample">
    <div class="card padAndMargin">
      <div class="card-header padsize hvr-grow-shadow" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center cardsizeAdjust" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Insurer Details
          </button>
        </h2>
      </div>

      <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body padsizebody">



          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <div></div>
              <label for="InsurerName" class="col-form-label col-sm-5 text-align">Insurer Name:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text"  class="form-control inputborder" formControlName="InsurerName"  name="InsurerName" id="" readonly>
              </div>
            </div>

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="PhoneNumber" class="col-form-label col-sm-5 text-align">Phone Number:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text"  class="form-control inputborder" formControlName="PhoneNumber"  name="PhoneNumber" id="" readonly>
              </div>

            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="email"  class="form-control inputborder" formControlName="EmailID"  name="EmailID" id="" readonly>
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <!-- <div style="width: 110px;"> -->
            <div class="col-sm-1 ml-4"></div>
            <!-- </div> -->
            <div class="col-sm-4 form-group">
              <input type="text"  class="form-control inputborder" formControlName="I_AddressLine1"  name="AddressLine1" id=""  readonly>
            </div>
            <div class="col-sm-5 form-group">
              <input type="text"  class="form-control inputborder" formControlName="I_AddressLine2"  name="AddressLine2" id=""  readonly>
            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 110px;"></div> -->

            <div class="col-sm-2 ml-1 form-group">
              <input type="text"  class="form-control inputborder" formControlName="I_City" name="City" id=""  readonly>
            </div>
            <div class="col-sm-2 form-group">
              <input type="text"  class="form-control inputborder" formControlName="I_State" name="State" id=""  readonly>
            </div>
            <div class="col-sm-2 form-group">
              <input type="text"  class="form-control inputborder" formControlName="I_Pincode" name="Pincode" id=""  readonly>
            </div>
            <div class="col-sm-3 form-group">
              <input type="text"  class="form-control inputborder" formControlName="I_Landmark" name="Landmark" id=""  readonly>
            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <textarea  class="form-control col-sm-8 ml-5 " formControlName="InsurerVerificationNotes" name="InsurerVerificationNotes" rows="6" placeholder="Insurer Questions" readonly></textarea>
            <div class="col-sm-1 btn-group-vertical">
              <button type="button" class="btn btn-sm btn-outline-primary buttonfont"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M10 8V3a2 2 0 1 0-4 0v5a2 2 0 1 0 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
              </svg></button>
              <div class="mt-5"></div>
              <button type="button" class="btn btn-sm btn-outline-info buttonfont"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175l3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
              </svg></button>
              <div class="mt-5"></div>
            </div>
            <div></div>
          </div>




        </div>
      </div>
    </div>
  </div>




  <!-- accordion 3 -->
  <div class="accordion" id="accordionExample">
    <div class="card padAndMargin">
      <div class="card-header padsize hvr-grow-shadow" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center cardsizeAdjust " type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Thirdparty Details
          </button>
        </h2>
      </div>

      <div id="collapseThree" class="collapse " aria-labelledby="headingthree" data-parent="#accordionExample">
        <div class="card-body padsizebody">



          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <!-- <div class="col-sm-1"></div> -->
              <label for="InsurerName" class="col-form-label col-sm-5 text-align">Thirdparty Name:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input  type="text" class="form-control inputborder" formControlName="ThirdpartyName"  name="ThirdpartyName" id="" readonly>
              </div>
            </div>

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="PhoneNumber" class="col-form-label col-sm-5 text-align">Phone Number:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input  type="text" class="form-control inputborder" formControlName="T_PhoneNumber"  name="T_PhoneNumber" id="" readonly>
              </div>

            </div>
          </div>


          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input  type="email" class="form-control inputborder" formControlName="T_EmailID" name="T_EmailID" id="" readonly>
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-2 ml-3"></div>
            <div class="col-sm-2 ml-4"><h6>Address:</h6></div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <div class="col-sm-1 ml-4"></div>
            <!-- <div style="width: 110px;">
                          </div> -->
            <div class="col-sm-4 form-group">
              <input  type="text" class="form-control inputborder" formControlName="T_AddressLine1" name="T_AddressLine1" id=""  readonly>
            </div>
            <div class="col-sm-5 form-group">
              <input  type="text" class="form-control inputborder" formControlName="T_AddressLine2" name="T_AddressLine2" id=""  readonly>
            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 110px;"></div> -->

            <div class="col-sm-2 ml-1 form-group">
              <input  type="text" class="form-control inputborder" formControlName="T_City" name="T_City" id=""  readonly>
            </div>
            <div class="col-sm-2 form-group">
              <input  type="text" class="form-control inputborder" formControlName="T_State" name="T_State" id=""  readonly>
            </div>
            <div class="col-sm-2 form-group">
              <input  type="text" class="form-control inputborder" formControlName="T_Pincode" name="T_Pincode" id=""  readonly>
            </div>
            <div class="col-sm-3 form-group">
              <input  type="text" class="form-control inputborder" formControlName="T_Landmark" name="T_Landmark" id=""  readonly>
            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <textarea  class="form-control col-sm-8 ml-5" formControlName="T_VerificationNotes" name="InsurerVerificationNotes" rows="6" placeholder="Thirdparty Questions" readonly></textarea>
            <div class="col-sm-1 btn-group-vertical">
              <button type="button" class="btn btn-sm btn-outline-primary buttonfont"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M10 8V3a2 2 0 1 0-4 0v5a2 2 0 1 0 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
              </svg></button>
              <div class="mt-5"></div>
              <button type="button" class="btn btn-sm btn-outline-info buttonfont"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175l3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
              </svg></button>
              <div class="mt-5"></div>
            </div>
            <div></div>
          </div>
          <br>
          <!-- <div class="text-center">
            <button type="submit" class="btn btn-lg btn-outline-primary ml-5"><i class="fas fa-cog fa-spin mr-2"></i>Submit</button>
          </div> -->




        </div>
      </div>
    </div>
  </div>



</form>

<!-- </div> -->




