<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>User Details</h5>
        </div>
        <div class="card-body">
            <div class="btn-popup pull-right">
                <a class="btn btn-secondary" [routerLink]="'/users/create-user'">Create User</a>
            </div>
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <ng2-smart-table [settings]="settings"  [source]="userlist" (custom)="onCustomAction($event)"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- <div><table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="id">Id</th>
        <th st-sort="name">Name</th>
        <th st-sort="email">Email</th>
        <th st-sort="date">Date</th>
        <th>email</th>
    </tr>
    <tr>
        <th>
            <input st-search="'Name'" placeholder="search for Id" class="input-sm form-control" type="search"/>
        </th>
        <th colspan="4">
            <input st-search placeholder="search" class="input-sm form-control" type="search"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let row of data">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.email}}</td>
        <td>{{row.date}}</td> -->
        <!-- <td><a ng-href="mailto:{{row.email}}">email</a></td> -->
    <!-- </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
    </tfoot>
</table></div> -->
