.card{
  padding: 1.5rem;
}

.inputbox{
  padding-top: 5px;
}

.subhead2{

  color: #98acf8;
}

// .row{
//   text-align: right;
// }

.text-align{
  text-align: right;
}

.buttonfont{
  font-size: x-small;
}


@media only screen and (max-width: 600px) {
  .text-align{
    text-align: left;
  }

  .mar-left{
    margin-left: 15px;
  }

  .case-textarea{
    margin-left: 1.9rem !important;
    margin-right: 3.6rem !important;
  }

  .tarea-label{
    margin-left: 1rem;
  }

  .p-adjust-mob{
    padding-right: 0 !important;
    //background-color: blue;
  }

  .mob-button{
    width: 60px;

  }

  .button-aud{
    margin-left: 30px;
  }

  .button-vid{
    margin-right: 58px;
  }

  .single-line-button{
    display: contents;
  }
}

