<!-- <div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div> -->


<div class="row">
  <div class="col-sm-6">
    <div style="display: block" class="mt-5">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
      </canvas>
    </div>
    <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
  </div>

  <div class="col-sm-6">
    <div style="display: block" class="mt-5">
      <canvas baseChart [datasets]='pieChartData' [labels]='pieChartLabels' [plugins]='barChartPlugins'
        [legend]='barChartLegend' [chartType]='pieChartType'>
      </canvas>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div style="display: block" class="mt-5">
      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [plugins]="lineChartPlugins" [legend]="lineChartLegend" [chartType]="lineChartType"
         [colors]="barChartColors">
      </canvas>
    </div>
  </div>
</div>
