<div class="input-group mb-3 col-md-8 col-8 file-margin">
  <div class="custom-file">

    <input type="file" class="custom-file-input" id="FileUpload" (change)="selectFile($event)"
      formControlName=FileUpload id="inputGroupFile01">
  </div>

</div>

<div class="mob-helptext">

  <small class="form-text text-muted  ">Choose the image file below 6 MB</small>
  <div>
  <div class="text-muted form-text">{{filename}}</div>
  <div class="text-muted form-text">{{filesize}}</div>
</div>
</div>
  <!-- <label class="btn btn-default"> -->
  <!-- <input type="file"  class="btn"/> -->
  <!-- </label> -->



<div class="col-md-3 pt-2">
<button class="btn btn-success" (click)="upload()" [disabled]="!selectedFiles" >
  Upload
</button>
</div>
