<!-- <div class="card text-center m-3">
  <h3 class="card-header">Case List</h3> -->

<form [formGroup]="EditForm" (ngSubmit)="update()" novalidate>

  <!-- accordion 1 start --------------------------------------------------->
  <div class="accordion" id="accordionExample">
    <div class="card padAndMargin">
      <div class="card-header padsize hvr-grow-shadow" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center cardsizeAdjust" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Case Details
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">




          <div class="col-md-12 row">

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="CaseID" class="col-form-label col-sm-3 text-align">Case ID:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text" class="form-control inputborder" minlength="2" formControlName="CaseID" required=""
                  [ngClass]="{ 'is-invalid': submitted && f.CaseID.errors }">
                <div *ngIf="submitted && f.CaseID.errors" class="invalid-feedback">
                  <div *ngIf="f.CaseID.errors.required">Case ID is required</div>
                  <div *ngIf="f.CaseID.errors.minlength"> Min 5 Characters </div>
                  <div *ngIf="f.CaseID.errors.maxlength">Case ID should be less than 10 </div>
                  <div *ngIf="f.CaseID.errors.pattern">Should be Numbers</div>
                </div>

              </div>
            </div>


            <!-- <div *ngIf="EditForm.get('EmailID').touched && EditForm.get('EmailID').invalid"
            class="invalid-feedback">
            <div *ngIf=" EditForm.get('EmailID').errors.required">Email ID is required</div>
            <div *ngIf=" EditForm.get('EmailID').errors.email">Enter valid Email ID</div>
          </div> -->


            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Ref Number:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text" class="form-control inputborder" formControlName="ReferenceNumber"
                  id="ReferenceNumber" name="ReferenceNumber" required=""
                  [ngClass]="{ 'is-invalid': submitted && f.ReferenceNumber.errors }">
                <div *ngIf="submitted && f.ReferenceNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.ReferenceNumber.errors.required">ReferenceNumber is required</div>
                  <div *ngIf="f.ReferenceNumber.errors.minlength"> Min 5 Characters </div>
                  <div *ngIf="f.ReferenceNumber.errors.maxlength">Ref Number should be less than 10 </div>
                  <div *ngIf="f.ReferenceNumber.errors.pattern">Should be Numbers</div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12 row">

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Due date:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="date" min="01-07-2021" class="form-control inputborder" formControlName="DueDate" name="DueDate"
                  id="DueDate" required [ngClass]="{ 'is-invalid': submitted && f.DueDate.errors }">
                <div *ngIf="submitted && f.DueDate.errors" class="invalid-feedback">
                  <div *ngIf="f.DueDate.errors.required">DueDate is required</div>
                  <div *ngIf="f.DueDate.errors.minlength">Min 10 Characters as YYYY-MM-DD</div>
                  <div *ngIf="f.DueDate.errors.maxlength">Max 10 Characters Only.</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="Name" class="col-form-label col-sm-4 text-align">Agent Name:</label>
              <div class="col-sm-6 p-adjust-mob">
                <!-- <input type="text" class="form-control inputborder" formControlName="Name" name="Name" id="AgentName"
                  required="" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"> -->

                  <select formControlName="Name"  class="form-select form-control custom-select btn-sm btn-height"
                  id="AgentName" name="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                  <option class="form-control"  *ngFor="let item of agents" [value]="item.name"
                  [selected] = "item.name == Agname" >{{item.name}}</option>
                </select>
                <!-- <div class="invalid-feedback">
                  Enter a Name
                </div> -->
                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                  <div *ngIf="f.Name.errors.required">Name is required</div>
                  <!-- <div *ngIf="f.Name.errors.minlength">Name should be min 5 Characters</div>
                  <div *ngIf="f.Name.errors.maxlength">Name should not be more than 20 Characters</div>
                  <div *ngIf="f.Name.errors.pattern">Should be Words</div> -->
                </div>

              </div>
            </div>
          </div>


          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9 tarea-label ml-3" style="text-align: left;">Notes:</label>
          </div>

          <div class=" row">
            <div class="col-sm-1 ml-4"></div>
            <div class="col-sm-1 ml-3"></div>
            <div class="col-sm-8 ml-2 pl-0 case-textarea inputborder">
              <textarea class="form-control " formControlName="Description" name="Description" rows="3"
                [ngClass]="{ 'is-invalid': submitted && f.Description.errors }"></textarea>
              <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                <div *ngIf="f.Description.errors.required">Description is required</div>
                <div *ngIf="f.Description.errors.minlength"> Min 5 Characters </div>
                <div *ngIf="f.Description.errors.maxlength">Description should be less than 256 </div>
              </div>

            </div>
            <div class="col-sm-2"></div>
          </div>




        </div>
      </div>
    </div>
  </div>




  <!-- accordion 2 -->
  <div class="accordion" id="accordionExample">
    <div class="card padAndMargin">
      <div class="card-header padsize hvr-grow-shadow" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center cardsizeAdjust" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Insurer Details
          </button>
        </h2>
      </div>

      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">



          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <div></div>
              <label for="InsurerName" class="col-form-label col-sm-5 text-align">Insurer Name:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text" class="form-control inputborder" formControlName="InsurerName" name="InsurerName"
                  id="InsurerName" [ngClass]="{ 'is-invalid': submitted && f.InsurerName.errors }">
                <div *ngIf="submitted && f.InsurerName.errors" class="invalid-feedback">
                  <div *ngIf="f.InsurerName.errors.required">Insurer Name is required</div>
                  <div *ngIf="f.InsurerName.errors.minlength"> Min 2 Characters </div>
                  <div *ngIf="f.InsurerName.errors.maxlength">Insurer Name should be less than 20 </div>
                  <div *ngIf="f.InsurerName.errors.pattern">Should be Words</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="PhoneNumber" class="col-form-label col-sm-5 text-align">Phone Number:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text" class="form-control inputborder" formControlName="PhoneNumber" name="PhoneNumber"
                  id="PhoneNumber" [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }">
                <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required</div>
                  <div *ngIf="f.PhoneNumber.errors.minlength"> Min 10 Characters </div>
                  <div *ngIf="f.PhoneNumber.errors.maxlength">Max 20 Numbers</div>
                  <div *ngIf="f.PhoneNumber.errors.pattern">Invalid Phone Number</div>
                </div>

              </div>

            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="EmailID" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="email" class="form-control inputborder" formControlName="EmailID" name="EmailID"
                  id="EmailID" [ngClass]="{'is-invalid' : submitted && f.EmailID.errors }">
                <div *ngIf="submitted && f.EmailID.errors" class="invalid-feedback">
                  <div *ngIf=" f.EmailID.errors.required">Email Address is required</div>
                  <div *ngIf=" f.EmailID.errors.email">Email must be Valid</div>
                  <div *ngIf="f.EmailID.errors.maxlength">Email should be less than 50 Characters</div>
                  <div *ngIf="f.EmailID.errors.pattern">Invalid Email</div>
                </div>
              </div>
            </div>
            <!-- Add Info -->
            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="IAddInfo" class="col-form-label col-sm-4 text-align">Additional Info:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="email" class="form-control inputborder" formControlName="AlternativePhoneNumber" name="AlternativePhoneNumber"
                  id="AlternativePhoneNumber" [ngClass]="{'is-invalid' : submitted && f.AlternativePhoneNumber.errors }">
                <div *ngIf="submitted && f.AlternativePhoneNumber.errors" class="invalid-feedback">
                  <div *ngIf=" f.AlternativePhoneNumber.errors.required">Additional Info required</div>
                  <div *ngIf="f.AlternativePhoneNumber.errors.minlength">Min 2 Characters</div>
                  <div *ngIf="f.AlternativePhoneNumber.errors.maxlength">Max 256 Characters</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <!-- <div style="width: 110px;"> -->
            <div class="col-sm-1 ml-4"></div>
            <!-- </div> -->
            <div class="col-sm-4 form-group">
              <input type="text" class="form-control inputborder" formControlName="I_AddressLine1" name="I_AddressLine1"
                id="I_AddressLine1" [ngClass]="{'is-invalid': submitted && f.I_AddressLine1.errors}">
              <div *ngIf="submitted && f.I_AddressLine1.errors" class="invalid-feedback">
                <div *ngIf="f.I_AddressLine1.errors.required">Address Line 1 is required</div>
                <div *ngIf="f.I_AddressLine1.errors.minlength"> Min 5 Characters </div>
                <div *ngIf="f.I_AddressLine1.errors.maxlength">Address Line 1 should be less than 50 </div>
              </div>

            </div>
            <div class="col-sm-5 form-group">
              <input type="text" class="form-control inputborder" formControlName="I_AddressLine2" name="I_AddressLine2"
                id="I_AddressLine2" [ngClass]="{ 'is-invalid': submitted && f.I_AddressLine2.errors }">
              <div *ngIf="submitted && f.I_AddressLine2.errors" class="invalid-feedback">
                <div *ngIf="f.I_AddressLine2.errors.required">Address Line 2 is required</div>
                <div *ngIf="f.I_AddressLine2.errors.minlength"> Min 5 Characters </div>
                <div *ngIf="f.I_AddressLine2.errors.maxlength">Address Line 2 should be less than 50 </div>
              </div>

            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 110px;"></div> -->

            <div class="col-sm-2 ml-1 form-group">
              <input type="text" class="form-control inputborder" formControlName="I_City" name="I_City" id="I_City"
                [ngClass]="{ 'is-invalid': submitted && f.I_City.errors }">
              <div *ngIf="submitted && f.I_City.errors" class="invalid-feedback">
                <div *ngIf="f.I_City.errors.required">City is required</div>
                <div *ngIf="f.I_City.errors.minlength"> Min 3 Characters </div>
                <div *ngIf="f.I_City.errors.maxlength">City should be less than 20 </div>
                <div *ngIf="f.I_City.errors.pattern">Should be Words</div>
              </div>

            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control inputborder" formControlName="I_State" name="I_State" id="I_State"
                [ngClass]="{'is-invalid':submitted && f.I_State.errors }">
              <!-- <div class="invalid-feedback">
                Enter a I_State
              </div> -->
              <div *ngIf="submitted && f.I_State.errors" class="invalid-feedback">
                <div *ngIf=" f.I_State.errors.required">State Name is required</div>

                <div *ngIf=" f.I_State.errors.minlength">Min 3 Characters</div>
                <div *ngIf=" f.I_State.errors.maxlength">Max 20 Characters</div>
                <div *ngIf="f.I_State.errors.pattern">Should be Words</div>

              </div>

            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control inputborder" formControlName="I_Pincode" name="I_Pincode"
                id="I_Pincode"
                [ngClass]="{'is-invalid':submitted && f.I_Pincode.errors}">
              <!-- <div class="invalid-feedback">
                Enter a I_Pincode
              </div> -->
              <div *ngIf="submitted && f.I_Pincode.errors" class="invalid-feedback">
                <div *ngIf="f.I_Pincode.errors.required">Pincode is required</div>

                <div *ngIf="f.I_Pincode.errors.maxlength">Min 6 Numbers</div>
                <div *ngIf="f.I_Pincode.errors.minlength">Max 6 Numbers</div>
                <div *ngIf="f.I_Pincode.errors.pattern">Should be Numbers</div>
              </div>

            </div>
            <div class="col-sm-3 form-group">
              <input type="text" class="form-control inputborder" formControlName="I_Landmark" name="I_Landmark"
                id="I_Landmark"
                [ngClass]="{'is-invalid':submitted && f.I_Landmark.errors}">
              <!-- <div class="invalid-feedback">
                Enter a I_Landmark
              </div> -->
              <div *ngIf="submitted && f.I_Landmark.errors"
                class="invalid-feedback">
                <div *ngIf="f.I_Landmark.errors.required">Landmark is required</div>

                <div *ngIf="f.I_Landmark.errors.maxlength">Min 5 Characters</div>
                <div *ngIf="f.I_Landmark.errors.minlength">Max 50 Characters</div>

              </div>

            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9 ml-3 pb-0 pt-1">Insurer Questions :</label>
          </div>

          <div class=" row">
            <div class="col-sm-1"></div>
            <div style="width: 135px;"></div>

              <textarea class="form-control col-sm-7 case-textarea" formControlName="InsurerVerificationNotes" name="InsurerVerificationNotes"
                rows="6" placeholder="Insurer Questions"
                [ngClass]="{'is-invalid': submitted && f.InsurerVerificationNotes.errors}">
             </textarea>
              <!-- <div class="invalid-feedback">
                Enter a InsurerVerificationNotes
              </div> -->
              <div
                *ngIf="submitted && f.InsurerVerificationNotes.errors"
                class="invalid-feedback">
                <div *ngIf="f.InsurerVerificationNotes.errors.required">Insurer Verification Notes is
                  required</div>
                <div *ngIf="f.InsurerVerificationNotes.errors.minlength">Min 5 Characters</div>
                <div *ngIf="f.InsurerVerificationNotes.errors.maxlength">Max 250 Characters</div>

              </div>
              <div class="remove-vol-control">
                <audio *ngIf="!IisRecording && IblobUrl" controls >
                  <source [src]="IblobUrl" type="audio/webm">
                </audio>
              </div>


            <div class="col-sm-1 btn-group-vertical single-line-button">
              <!-- audio (click)="IstartRecording()" -->

              <div id="insAudio">
                <button id="InsAudio" *ngIf="!IisRecording && !IblobUrl"  type="button"
                class="btn btn-outline-primary buttonfont mob-button button-aud" style="width: 50px;">
                <i class="fas fa-microphone-alt"></i></button>
              </div>

            <!-- <button type="button" *ngIf="IisRecording && !IblobUrl" (click)="IstopRecording()"
              class="btn btn-sm btn-outline-primary  button-aud"><i class="fa fa-stop-circle-o" aria-hidden="true">
              </i></button>
            <button class="btn btn-sm btn-outline-primary  button-aud" *ngIf="!IisRecording && IblobUrl"
              (click)="IclearRecordedData()"> <i class="fa fa-reply" aria-hidden="true"></i></button>
              <div *ngIf="IisRecording && !IblobUrl"> {{IrecordedTime}} </div> -->

              <div class="mt-5"></div>
              <!-- video -->
              <div id="insVideo">
                <button type="button" class="btn btn-sm mr-4 btn-outline-info buttonfont mob-button button-vid" style="width: 50px;" data-toggle="modal"
              data-target=".bd-example-modal-lg-1"><i class="fas fa-video"></i></button>
              </div>

              <div class="mt-5"></div>
            </div>
            <!-- <div class="col-sm-1"></div> -->
            <!-- <div class="modal fade bd-example-modal-lg-1" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content"> -->

                <!-- <div class="">
                  <video id="Ivideo_{{idxI}}" class="video-js vjs-default-skin" playsinline><i
                      class="fa fa-video-camera" aria-hidden="true"></i></video>
                </div> -->

             <!--  </div>
            </div>
          </div> -->
          </div>



          <div class="row mobile-adjust-questionbox">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 135px;"></div> -->

            <!-- ins question -->
            <div class="col-sm-8 ml-4 pb-2 borderstyle border border-info">
              <div class="col-md-12 pl-0" *ngFor="let control of answerdataarray" >
                <div [ngSwitch]="control.controltype">

                 <!-- text -->

                 <div *ngSwitchCase="'text'">
                  <!-- <div [ngSwitch] = "control.groupid"> -->

                    <div *ngIf = "control.groupid == 1">
                  <div class="col-md-12">
                    <label class="{{control.labelcss}}">{{control.questiondisplaytext}}</label>
                      </div>
                  <div class="col-md-12">

                    <input type="{{control.controltype}}" class="{{control.controlcss}}"  id="{{control.answerid}}"
                      aria-describedby="passwordHelpBlock" placeholder="{{control.helptext}}" maxlength="{{control.maxlength}}"
                      value="{{control.answerintext}}"  formControlName={{control.questionname}}
                      [ngClass]="{ 'is-invalid': submitted && EditForm.get(control.questionname).errors }">
                      <!-- <div *ngIf="EditForm.get(control.questionname).dirty || EditForm.get(control.questionname).touched">
                        <small *ngIf="!EditForm.get(control.questionname).valid" class="text-danger">
                          {{control.questionname}} is Required
                        </small>
                      </div> -->
                      <div *ngIf="submitted && EditForm.get(control.questionname).errors" class="invalid-feedback" >
                          <small *ngIf="EditForm.get(control.questionname).errors.required">
                            {{control.questionname}} is Required
                          </small>
                      </div>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      {{control.helptext}}
                    </small>
                  </div>
                  </div>
                <!-- </div> -->
                <!-- </div> -->
                </div>

                <!-- radio -->
                <!-- <div [ngSwitch] = "control.groupid"> -->
                <div *ngSwitchCase="'radio'">

                  <div class="col-md-12 mb-3">
                    <div  *ngIf="control.groupid == 1">
                    <label for="gender">{{control.questiondisplaytext}}</label>

                    <div class="col-md-12 row">
                      <div class="form-check mr-3" *ngFor="let val of control.questionname.split(',')" >
                        <label class="form-check-label" for="{{val}}">
                          <input type="radio" class="form-check-input" id="{{control.answerid}}"
                            formControlName={{control.questionname}}
                            value="{{val}}" [checked]="val == control.answerintext"
                           >{{val}}
                        </label>

                      </div>
                    </div>
                    <div *ngIf="submitted && EditForm.get(control.questionname).errors">
                      <small *ngIf="!EditForm.get(control.questionname).valid" class="text-danger">
                        {{control.questiondisplaytext}} is Required
                      </small>
                    </div>
                  </div>

                  </div>
                  </div>
                <!-- </div> -->
                <!-- select -->
                <div *ngSwitchCase="'Select'">
                  <!-- <div  [ngSwitch] = "control.groupid"> -->
                  <div class="col-md-12">
                    <div  *ngIf="control.groupid == 1">
                    <label for="city">{{control.questiondisplaytext}}</label>

                    <div class="col-md-12 row pl-0">
                      <div class="form-check mr-3">
                        <select class="custom-select" id="{{control.answerid}}" formControlName={{control.questionname}} >
                          <option *ngFor="let val of control.questionname.split(',')" value="{{val}}"
                          [selected] = "val == control.answerintext"
                           >{{val}}</option>
                        </select>
                      </div>
                    </div>
                    <div *ngIf="submitted && EditForm.get(control.questionname).errors">
                      <small *ngIf="!EditForm.get(control.questionname).valid" class="text-danger">
                        {{control.questiondisplaytext}} is Required
                      </small>
                    </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>

                <!-- checkbox -->
                    <div *ngSwitchCase="'checkbox'">
                      <div  *ngIf = "control.groupid == 1">
                      <div class="col-md-12 mb-3 mt-2">
                        <!-- <label for="gender">{{control.questionname}}</label><br> -->
                        <div class="form-check form-check-inline">
                          <label class="form-check-label " for="{{control.questionname}}">
                            <input class="form-check-input" type="checkbox" value="{{control.questiondisplaytext}}"
                            id="{{control.answerid}}"
                           >
                            {{control.questionname}}

                          </label>
                        </div>
                      </div>
                      </div>
                    </div>
                    <!-- </div> -->

              </div>
              </div>
            </div>


            <div class="col-sm-1"></div>
          </div>


        </div>
      </div>
    </div>
  </div>




  <!-- accordion 3 -->
  <div class="accordion" id="accordionExample">
    <div class="card padAndMargin">
      <div class="card-header padsize hvr-grow-shadow" id="headingThree ">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center cardsizeAdjust" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Thirdparty Details
          </button>
        </h2>
      </div>

      <div id="collapseThree" class="collapse show" aria-labelledby="headingthree" data-parent="#accordionExample">
        <div class="card-body">



          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <!-- <div class="col-sm-1"></div> -->
              <label for="InsurerName" class="col-form-label col-sm-5 text-align">Thirdparty Name:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text" class="form-control inputborder" formControlName="ThirdpartyName"
                  name="ThirdpartyName" id="ThirdpartyName"
                  [ngClass]="{'is-invalid': submitted && f.ThirdpartyName.errors}">
                <!-- <div class="invalid-feedback">
                  Enter a ThirdpartyName
                </div> -->
                <div *ngIf="submitted && f.ThirdpartyName.errors" class="invalid-feedback">
                  <div *ngIf=" f.ThirdpartyName.errors.required">Thirdparty Name is required</div>

                  <div *ngIf="f.ThirdpartyName.errors.minlength">Min 2 Characters</div>
                  <div *ngIf="f.ThirdpartyName.errors.maxlength">Max 30 Characters</div>
                  <div *ngIf="f.ThirdpartyName.errors.pattern">Should be Words</div>
                </div>

              </div>
            </div>

            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="T_PhoneNumber" class="col-form-label col-sm-5 text-align">Phone Number:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="text" class="form-control inputborder" formControlName="T_PhoneNumber" name="T_PhoneNumber"
                  id="T_PhoneNumber"
                  [ngClass]="{'is-invalid':submitted && f.T_PhoneNumber.errors}">
                <!-- <div class="invalid-feedback">
                  Enter a T_PhoneNumber
                </div> -->
                <div *ngIf="submitted && f.T_PhoneNumber.errors"
                  class="invalid-feedback">
                  <div *ngIf=" f.T_PhoneNumber.errors.required">Phone Number is required</div>

                  <div *ngIf="f.T_PhoneNumber.errors.minlength">Min 10 Numbers</div>
                  <div *ngIf="f.T_PhoneNumber.errors.maxlength">Max 20 Numbers</div>
                  <div *ngIf="f.T_PhoneNumber.errors.pattern">Invalid Phone Number</div>

                </div>

              </div>

            </div>
          </div>


          <div class="col-md-12 row">
            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="email" class="form-control inputborder" formControlName="T_EmailID" name="T_EmailID"
                  id="T_EmailID"
                  [ngClass]="{'is-invalid':submitted && f.T_EmailID.errors}">
                <div *ngIf="submitted && f.T_EmailID.errors"
                  class="invalid-feedback">
                  <div *ngIf="f.T_EmailID.errors.required">Email is required</div>
                  <div *ngIf="f.T_EmailID.errors.email">Enter valid Email</div>
                  <div *ngIf="f.T_EmailID.errors.maxlength">Email should less than 50 Characters</div>
                  <div *ngIf="f.T_EmailID.errors.pattern">Invalid Email</div>
                </div>
              </div>
            </div>

            <!-- Add Info -->
            <div class="col-md-6 form-group row p-adjust-mob">
              <div class="col-sm-2"></div>
              <label for="IAddInfo" class="col-form-label col-sm-4 text-align">Additional Info:</label>
              <div class="col-sm-6 p-adjust-mob">
                <input type="email" class="form-control inputborder" formControlName="T_AlternativePhoneNumber" name="T_AlternativePhoneNumber"
                  id="T_AlternativePhoneNumber" [ngClass]="{'is-invalid' : submitted && f.T_AlternativePhoneNumber.errors }">
                <div *ngIf="submitted && f.T_AlternativePhoneNumber.errors" class="invalid-feedback">
                  <div *ngIf=" f.T_AlternativePhoneNumber.errors.required">Additional Info required</div>
                  <div *ngIf="f.T_AlternativePhoneNumber.errors.minlength">Min 2 Characters</div>
                  <div *ngIf="f.T_AlternativePhoneNumber.errors.maxlength">Max 256 Characters</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <div class="col-sm-1 ml-4"></div>
            <!-- <div style="width: 110px;">
                          </div> -->
            <div class="col-sm-4 form-group">
              <input type="text" class="form-control inputborder" formControlName="T_AddressLine1" name="T_AddressLine1"
                id="T_AddressLine1"
                [ngClass]="{'is-invalid':submitted && f.T_AddressLine1.errors}">
              <!-- <div class="invalid-feedback">
                Enter a T_AddressLine1
              </div> -->
              <div *ngIf="submitted && f.T_AddressLine1.errors"
                class="invalid-feedback">
                <div *ngIf="f.T_AddressLine1.errors.required">AddressLine 1 is required</div>
                <div *ngIf="f.T_AddressLine1.errors.minlength">Min 5 Characters</div>
                <div *ngIf="f.T_AddressLine1.errors.maxlength">Max 50 Character</div>

              </div>

            </div>
            <div class="col-sm-5 form-group">
              <input type="text" class="form-control inputborder" formControlName="T_AddressLine2" name="T_AddressLine2"
                id="T_AddressLine2"
                [ngClass]="{'is-invalid':submitted && f.T_AddressLine2.errors}">
              <!-- <div class="invalid-feedback">
                Enter a T_AddressLine2
              </div> -->
              <div *ngIf="submitted && f.T_AddressLine2.errors"
                class="invalid-feedback">
                <div *ngIf=" f.T_AddressLine2.errors.required">AddressLine 2 is required</div>
                <div *ngIf=" f.T_AddressLine2.errors.minlength">Min 5 Characters</div>
                <div *ngIf=" f.T_AddressLine2.errors.maxlength">Max 50 Characters</div>
              </div>

            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 110px;"></div> -->

            <div class="col-sm-2 ml-1 form-group">
              <input type="text" class="form-control inputborder" formControlName="T_City" name="T_City" id="T_City"
                [ngClass]="{'is-invalid':submitted && f.T_City.errors}">
              <!-- <div class="invalid-feedback">
                Enter a T_City
              </div> -->
              <div *ngIf="submitted && f.T_City.errors" class="invalid-feedback">
                <div *ngIf="f.T_City.errors.required">City is required</div>
                <div *ngIf="f.T_City.errors.minlength">Min 3 Characters</div>
                <div *ngIf="f.T_City.errors.maxlength">Max 20 Characters</div>
                <div *ngIf="f.T_City.errors.pattern">Should be Words</div>
              </div>

            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control inputborder" formControlName="T_State" name="T_State" id="T_State"
                [ngClass]="{'is-invalid':submitted && f.T_State.errors}">
              <!-- <div class="invalid-feedback">
                Enter a T_State
              </div> -->
              <div *ngIf="submitted && f.T_State.errors" class="invalid-feedback">
                <div *ngIf="f.T_State.errors.required">State is required</div>
                <div *ngIf="f.T_State.errors.minlength">Min 3 characters</div>
                <div *ngIf="f.T_State.errors.maxlength">Max 25 Characters</div>
                <div *ngIf="f.T_State.errors.pattern">Should be Words</div>
              </div>

            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control inputborder" formControlName="T_Pincode" name="T_Pincode"
                id="T_Pincode"
                [ngClass]="{'is-invalid':submitted && f.T_Pincode.errors}">
              <!-- <div class="invalid-feedback">
                Enter a T_Pincode
              </div> -->
              <div *ngIf="submitted && f.T_Pincode.errors"
                class="invalid-feedback">
                <div *ngIf=" f.T_Pincode.errors.required">Pincode is required</div>
                <div *ngIf=" f.T_Pincode.errors.minlength">Min 6 Numbers</div>
                <div *ngIf=" f.T_Pincode.errors.maxlength">Max 6 Numbers</div>
                <div *ngIf="f.T_Pincode.errors.pattern">Should be Numbers</div>
              </div>

            </div>
            <div class="col-sm-3 form-group">
              <input type="text" class="form-control inputborder" formControlName="T_Landmark" name="T_Landmark"
                id="T_Landmark"
                [ngClass]="{'is-invalid': submitted && f.T_Landmark.errors}">
              <!-- <div class="invalid-feedback">
                Enter a T_Landmark
              </div> -->
              <div *ngIf="submitted && f.T_Landmark.errors"
                class="invalid-feedback">
                <div *ngIf=" f.T_Landmark.errors.required">Landmark is required</div>
                <div *ngIf=" f.T_Landmark.errors.minlength">Min 5 Characters</div>
                <div *ngIf=" f.T_Landmark.errors.maxlength">Max 50 Characters</div>

              </div>

            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <div class="colmd-12 row mt-0">
            <div class="col-md-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Third party Questions:</label>
          </div>



          <div class="col-md-12 row">
            <div class="col-md-2"></div>

            <div class="col-md-8 ml-5 pl-0">
              <textarea class="form-control " formControlName="T_VerificationNotes" name="T_VerificationNotes" rows="6"
                placeholder="Thirdparty Questions"
                [ngClass]="{'is-invalid':submitted && f.T_VerificationNotes.errors}">
             </textarea>
              <!-- <div class="invalid-feedback">
                Enter a T_VerificationNotes
              </div> -->
              <div *ngIf="submitted && f.T_VerificationNotes.errors"
                class="invalid-feedback">
                <div *ngIf=" f.T_VerificationNotes.errors.required">Third party Verification Notes is
                  required</div>
                <div *ngIf="f.T_VerificationNotes.errors.minlength">Min 5 Characters</div>
                <div *ngIf="f.T_VerificationNotes.errors.maxlength">Max 250 Characters</div>

              </div>
              <div class="remove-vol-control">
                <audio *ngIf="!isRecording && blobUrl" controls >
                  <source [src]="blobUrl" type="audio/webm">
                </audio>
              </div>
              <!-- <button (click)="download()">Download</button> -->
            </div>


            <div class="col-md-1 btn-group-vertical">
              <!-- ------------------------------audio --------------------->
              <div id="tpartyAudio">
              <button id="TpAudio" *ngIf="!isRecording && !blobUrl"  type="button"
                class="btn btn-sm btn-outline-primary buttonfont">Audio</button>
              <button type="button" *ngIf="isRecording && !blobUrl"
                class="btn btn-sm btn-outline-primary buttonfont"><i class="fa fa-stop-circle-o" aria-hidden="true">
                </i></button>
              <button class="btn btn-sm btn-outline-primary buttonfont" *ngIf="!isRecording && blobUrl"
                > <i class="fa fa-reply" aria-hidden="true"></i></button>
              <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
            </div>

              <!-- <div class="mt-5"></div> -->
              <!-- ---------------------------------------------video -------------------------------------->
              <div class="tpartyvideo">
              <button type="button" class="btn btn-sm btn-outline-info buttonfont" data-toggle="modal"
                data-target=".bd-example-modal-lg">Video</button>
              <!-- Modal -->

              <div class="col-sm-1"></div>
              <!-- <div class="modal fade bd-example-modal-lg-1" tabindex="-1" role="dialog"
              aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content"> -->

                  <!-- <div class="">
                    <video id="Ivideo_{{idx}}" class="video-js vjs-default-skin" playsinline><i
                        class="fa fa-video-camera" aria-hidden="true"></i></video>
                  </div> -->

               <!--  </div>
              </div>
            </div> -->

              <!-- <div class="col-md-3 ml-auto"> -->


              <!-- </div> -->

            </div>
            </div>
            <div class="col-md-1"></div>
          </div>

          <div class="row mobile-adjust-questionbox">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 135px;"></div> -->

            <!-- tpart question -->
            <div class="col-sm-8 ml-4 pb-2 borderstyle border border-info">
              <div class="col-md-12 pl-0" *ngFor="let control of answerdataarray" >
                <div [ngSwitch]="control.controltype">

                  <!-- text -->

                  <div *ngSwitchCase="'text'">
                    <!-- <div [ngSwitch] = "control.groupid"> -->

                      <div *ngIf = "control.groupid == 2">
                    <div class="col-md-12">
                      <label class="{{control.labelcss}}">{{control.questiondisplaytext}}</label>
                        </div>
                    <div class="col-md-12">

                      <input type="{{control.controltype}}" class="{{control.controlcss}}" class="" id="{{control.answerid}}"
                        aria-describedby="passwordHelpBlock" placeholder="{{control.helptext}}" maxlength="{{control.maxlength}}"
                        value="{{control.answerintext}}"  formControlName={{control.questionname}}
                        >
                        <div *ngIf="submitted && EditForm.get(control.questionname).errors">
                          <small *ngIf="!EditForm.get(control.questionname).valid" class="text-danger">
                            {{control.questionname}} is Required
                          </small>
                        </div>
                      <small id="passwordHelpBlock" class="form-text text-muted ">
                        {{control.helptext}}
                      </small>
                    </div>
                    </div>

                  <!-- </div> -->
                  </div>
                  <!-- radio -->
                  <div *ngSwitchCase="'radio'">
                    <!-- <div [ngSwitch] = "control.groupid"> -->

                    <div class="col-md-12 mb-3">
                      <div  *ngIf="control.groupid == 2">
                      <label for="gender">{{control.questiondisplaytext}}</label>

                      <div class="col-md-12 row">
                        <div class="form-check mr-3" *ngFor="let val of control.questionname.split(',')" >
                          <label class="form-check-label" for="{{val}}">
                            <input type="radio" class="form-check-input" id="{{control.answerid}}"
                              formControlName={{control.questionname}}
                              value="{{val}}" [checked]="val == control.answerintext"
                             >{{val}}

                          </label>

                        </div>
                      </div>
                      <div *ngIf="submitted && EditForm.get(control.questionname).errors">
                        <small *ngIf="!EditForm.get(control.questionname).valid" class="text-danger">
                          {{control.questiondisplaytext}} is Required
                        </small>
                      </div>



                      </div>

                    </div>
                    <!-- </div> -->
                  </div>
                  <!-- select -->
                  <div *ngSwitchCase="'Select'">
                    <!-- <div  [ngSwitch] = "control.groupid"> -->
                    <div class="col-md-12">
                      <div  *ngIf="control.groupid == 2">
                      <label for="city">{{control.questiondisplaytext}}</label>
                      <div class="col-md-12 row pl-0">
                        <div class="form-check mr-3">
                          <select class="custom-select" id="{{control.answerid}}" formControlName={{control.questionname}} >
                            <option *ngFor="let val of control.questionname.split(',')" value="{{val}}"
                            [selected] = "val == control.answerintext"
                             >{{val}}</option>
                          </select>

                        </div>
                      </div>
                      <div *ngIf="submitted && EditForm.get(control.questionname).errors">
                        <small *ngIf="!EditForm.get(control.questionname).valid" class="text-danger">
                          {{control.questiondisplaytext}} is Required
                        </small>
                      </div>

                      </div>
                    </div>
                    <!-- </div> -->
                  </div>

                  <!-- checkbox -->
                      <div *ngSwitchCase="'checkbox'">
                        <div  *ngIF = "control.groupid == 2">
                        <div class="col-md-12 mb-3 mt-2">
                          <!-- <label for="gender">{{control.questionname}}</label><br> -->
                          <div class="form-check form-check-inline">
                            <label class="form-check-label " for="{{control.questionname}}">
                              <input class="form-check-input" type="checkbox" value="{{control.questiondisplaytext}}"
                              id="{{control.answerid}}"
                             >
                              {{control.questionname}}

                            </label>
                          </div>
                        </div>
                        </div>
                      </div>
                    <!-- </div> -->




              </div>
              </div>
            </div>




            <div class="col-sm-1"></div>
          </div>
          <br>



        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-md btn-outline-primary ml-5"><i class="fa fa-check"></i> Update</button>
  </div>


</form>

<!-- </div> -->
